html {
	background-color: black;
	height: 100%;
}

body {
	font-family: Concert One;	
	background-color: white;
}

/* the rest of the elements are listed alphabetically */

h1 {
	font-family: Fascinate;
}

h5:hover {
	cursor: pointer;
}

label {
	align-self: center;
}

label:hover {
	cursor: pointer !important;
}

/* Classes ordered alphabetically */
.btn {
	font-family: Concert One;
}

.color-square {
	border: 10px solid black;
	border-radius: 10%;
	height: 225px;
	cursor: pointer;
	color: white;
}

.container {
	max-width: 700px;
}

.container-fluid {
	padding: 0px;
}

/*.currentRGB {} */

.headers {
	color: white;
	text-align: center;
	background-color: royalblue;
	padding: 2% 0%;
}

.nope {
	color: red;
	text-align: center;
	text-shadow: 2px 2px black;
	font-size: 2em;
}

.settings-container {
	padding-top: 8px;
}

.square-container {
	padding-top: 20px;
	background-color: black;
}

/* ID's ordered alphabetically */

#difficulty-level {
	margin-top: 10px !important;
}

#rgbValues {
	text-shadow: 2px 2px black;
}

#win-text {
	color: white;
	text-align: center;
	font-size: 4em;
	text-shadow: 2px 2px black;
}
