body {
	font-family: Concert One;	
	background-color: white;
}

/* the rest of the elements are listed alphabetically */

h1 {
	font-family: Fascinate;
}

h1 span {
	/*font-family:;*/
}

/* Classes ordered alphabetically */
.btn {
	font-family: Concert One;
}

.color-square {
	border: 10px solid black;
	border-radius: 10%;
	height: 225px;
	/*background-color: Something random*/
}

.container {
	max-width: 700px;
}

.container-fluid {
	padding: 0px;
}

/*.currentRGB {} */

.headers {
	color: white;
	text-align: center;
	background-color: royalblue;
	padding: 5%;
}

.square-container {
	background-color: lightgray;
}